.navbar-brand{
    background-image: url('/img/navbar-brand.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 50px;
}

.navbar-top-links li a{
    color: #337ab7;
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }


    .nao-imprimir {
        display: none;
    }

    .rodape{
        display: none;
    }

    .row{
        page-break-after: auto !important;
        page-break-inside: avoid;
    }
    .certificado{
        page-break-after: always;
    }
}