@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400i,700,700i');

.navbar-brand{
    background-image: url('/img/navbar-brand.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 50px;
}

.navbar-top-links li a{
    color: #337ab7;
}

.certificado{
    page-break-after: always;
    font-family: 'Gentium Book Basic', serif;
    z-index: -1;
    width: 297mm;
    height: 210mm;
    border: solid 1px black;
    transform: scale(0.75);
    transform-origin: 0% 0;
    position: relative;
    display: inline-table;
}

.fundo {
    position: absolute;
    left: 0mm;
    bottom: 0mm;
}

.logotipo {
    position: absolute;
    left: 10.406mm;
    bottom: 173.447mm;
}

.titulo {
    font-size: 80pt;
    font-style: italic;
    position: absolute;
    left: 45%;
    top: 3%;
}

.descricao{
    text-align: center;
    width: 100%;
    background-color: transparent;
    border: none;
    resize: none;
}

.texto-central {
    text-align: center;
    top: 30%;
    width: 100%;
    font-size: 18pt;
    display: table-cell;
    vertical-align: middle;
}

.destaque {
    font-style: italic;
    font-weight: bold;
}

.ass-diretor {
    position: absolute;
    margin: 0;
    top: 85%;
    left: 20%;
    width: 25%;
}

.ass-coordenador {
    position: absolute;
    margin: 0;
    top: 85%;
    left: 55%;
    width: 25%;
}

.assinatura {
    border-bottom: solid 2px black;
}

.nome-cargo {
    text-align: center;
    font-size: 12pt;
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
        -moz-print-color-adjust: exact;
        -o-print-color-adjust: exact;
        print-color-adjust: exact;
        margin: 0;
    }

    .certificado{
        -webkit-print-color-adjust: exact;
        -moz-print-color-adjust: exact;
        -o-print-color-adjust: exact;
        print-color-adjust: exact;
        /* page-break-after: always; */
        font-family: 'Gentium Book Basic', serif;
        z-index: -1;
        width: 297mm;
        height: 210mm;
        border: solid 1px black;
        transform: scale(1);
        transform-origin: 0% 0;
        position: relative;
        display: inline-table;

    }

    .logotipo {
        position: absolute;
        left: 10.406mm;
        bottom: 173.447mm;
    }

    .titulo {
        font-family: 'Gentium Book Basic', serif;
        font-size: 80pt;
        font-style: italic;
        position: absolute;
        left: 45%;
        top: 5%;
    }

    .nao-imprimir {
        display: none;
    }

    .rodape{
        display: none;
    }
/* 
    .row{
        page-break-after: auto !important;
        page-break-inside: avoid;
    } */
}