body{
    position: absolute;
    margin: 0;
    width: 297mm;
    height: 210mm;
    top: 0;
    left: 0;
    font-family: 'Gentium Book Basic', serif;
}

.fundo {
    position: absolute;
    z-index: -1;
    left: 0mm;
    top: 0mm;
    width: 100%;
    height: 100%;
}

.logotipo {
    position: absolute;
    width: 88mm;
    left: 15mm;
    top: 15mm;
}

.titulo {
    position: absolute;
    top: 10mm;
    left: 135mm;
    font-size: 80pt;
    font-style: italic;
}

.texto-central {
    margin-top: 60mm;
    text-align: center;
    font-size: 18pt;
    vertical-align: middle;
}

.descricao{
    text-align: center;
    font-size: 20pt;
    font-weight: bolder;
}

.destaque {
    font-style: italic;
    font-weight: bold;
}

.assinaturas {
    text-align: center;
}

.ass-diretor {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    margin-left: 20%;
    width: 25%;
}

.ass-coordenador {
    display: inline-block;
    vertical-align: top;
    zoom: 1; /* Fix for IE7 */
    *display: inline; /* Fix for IE7 */
    width: 25%;
    margin-left: 10%;
}

.assinatura {
    border-bottom: solid 2px black;
    height: 20mm;
}

.nome-cargo {
    text-align: center;
    font-size: 12pt;
}

.page-break {
    page-break-after: always;
}